body { position: relative; }

.container { max-width: 80rem; }

.header {
	background: #f4f5f6;
	border-bottom: .1rem solid #d1d1d1;
	padding: 10px 0;
	margin-bottom: 20px;
}

.text-right { text-align: right; }

hr { border-top: 1px solid #9b4dca; margin: 20px 0px; }

.header h5 { display: inline; }

#tb_Editor { min-height: 200px; }

#bl_Editor { display: none; }

#img_Preview { border: 1px solid #9b4dca; }

.column span { padding-left: 10px; }
.parameters input { width: 100px; }

