blockquote
	p Just copy and paste your HTML code here. Click preview to check that everything is working as expected and then save your template. 
	p TODO: add normal manual here.

label(for='tb_Editor') Your HTML

textarea(id='tb_Editor', placeholder='your html goes here')

div.row
	div.column
		a#btn_PreviewTemplate.button Preview your changes
	div.column
		a#btn_NewTemplate.button New template
	div.column(style='text-align: right;')
		button#btn_SaveTemplate.button.button-outline Save your template

